<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>

    <title>申请</title>

    <link rel="stylesheet" href="/SpringBootBase/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/SpringBootBase/css/customer/login.css"/>
</head>

<body>
<div class="container">
    <form class="form-signin" action="./apply" method="post">
        <h2 class="form-signin-heading"> 请假申请</h2>
        <p>
        <input type="text" class="form-control" placeholder="申请人：" name="username"/>
        </p>
        <p>
            <input type="text" class="form-control" placeholder="事由" name="reason"/>
        </p>
        <p>
        <input type="date" class="form-control" placeholder="时间" name="date"/>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
    </form>
</div>
</body>
</html>